# Cargamos las librerías iniciales

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

%matplotlib inline

# Descripción de Columnas
Las columnas del dataset describen aspectos físicos del asteroide como también de su orbita con respecto a la Tierra. Todas las características de órbita son con respecto a la Tierra.

Semi-Major Axis (a): Se refiere a la mitad del diametro más largo de la elipse
Eccentricity (e): Se refiere a la cantidad en la que la orbita del asteroide se desvía de la forma de un círculo
Inclination with respect to x-y ecliptic plane (deg):
Longitude of the Ascending Node (om): "The point where the orbit passes through the reference plane in an “upward” direction is called the ascending node. Thus, the second orientation angle of the orbit is the angle between the ascending node and some reference direction in the reference plane, as seen from the Sun. In our solar system, the reference direction is usually taken to be the direction toward the vernal equinox. This angle is known as the longitude of the ascending node, Ω." Tomado de: https://www.sciencedirect.com/topics/physics-and-astronomy/longitude-of-the-ascending-node
Argument of Perihelion (w): Es la distancia angular del ascending node hasta la el perhilion medido en el plano orbital.
Periphelion Distance (q): Es la distancia de la orbita del asteroide en la cual se encuentra lo más cercano al sol.
Aphelion Distance (ad): Es la distancia de la orbita del asteroide en la cual se encuentra lo más alejada del sol.
Orbital Period in Years (per_y): Se refiere al tiempo en que se tarda el asteroide en completar su orbita alrededor de la Tierra en años.
Data Arc-Span (data_arc):
Orbit Condition Code (condition_code):
Number of observation used (n_obs_used):
Absolute Magnitude Parameter (H):
Near Earth Object (neo):
Physically Hazardous Asteroid (pha) VARIABLE OBJETIVO:
Diameter of Asteroid in km (diameter):
Object bi/tri axial ellipsoid dimensions km (extent):
Geometric Albedo (albedo):
Rotation Period (rot_per):
Standard Gravitational Parameter (GM): Product of mass and gravitational constant
Color Index B-V magnitude difference (BV): Se refiere a una escala de medición de temperatura del cuerpo celestial. Números más pequeños indican que es caliente, mientras que números más grandes indican que es más caliente.
Color Index U-B magnitude difference (UB): Se refiere a una escala de medición de temperatura del cuerpo celestial. Números más pequeños indican que es caliente, mientras que números más grandes indican que es más caliente.
Color Index I-R magnitude difference (IR): Se refiere a una escala de medición de temperatura del cuerpo celestial. Números más pequeños indican que es caliente, mientras que números más grandes indican que es más caliente.
Spectral Taxonomic type SMASSII (spec_B):
Spectral Taxonomic type Tholen (spec_T):
Magnitude Slope Parameter (G):
Earth Minimum Orbit Intersection Distance au (moid):
Asteroid Orbit Class (class):
Mean motion deg/d (n):
Orbital Period d (per): Días que se tarda el asteroide en completar su orbita alrededor de la Tierra
Mean Anomaly deg (ma):

In [8]:
df = pd.read_excel('Asteroid_Updated_Clean.xlsb', engine='pyxlsb')
df.head()

,a,e,i,om,w,q,ad,per_y,data_arc,condition_code,...,UB,IR,spec_B,spec_T,G,moid,class,n,per,ma
0,2.769165,0.076009,10.594067,80.305532,73.597694,2.558684,2.979647,4.608202,8822.0,0,...,0.426,NaN,C,G,0.12,1.59478,MBA,0.213885,1683.145708,77.372096
1,2.772466,0.230337,34.836234,173.080063,310.048857,2.133865,3.411067,4.616444,72318.0,0,...,0.284,NaN,B,B,0.11,1.23324,MBA,0.213503,1686.155999,59.699133
2,2.669150,0.256942,12.988919,169.852760,248.138626,1.983332,3.354967,4.360814,72684.0,0,...,0.433,NaN,Sk,S,0.32,1.03454,MBA,0.226019,1592.787285,34.925016
3,2.361418,0.088721,7.141771,103.810804,150.728541,2.151909,2.570926,3.628837,24288.0,0,...,0.492,NaN,V,V,0.32,1.13948,MBA,0.271609,1325.432765,95.861936
4,2.574249,0.191095,5.366988,141.576605,358.687607,2.082324,3.066174,4.130323,63507.0,0,...,0.411,NaN,S,S,NaN,1.09589,MBA,0.238632,1508.600458,282.366289

In [3]:
df.shape

(699998, 30)

In [5]:
df.isnull().mean() * 100

a                  0.000000
e                  0.000000
i                  0.000000
om                 0.000000
w                  0.000000
q                  0.000000
ad                 0.000000
per_y              0.000000
data_arc           1.203146
condition_code     0.017143
n_obs_used         0.000000
H                  0.382858
neo                0.000000
pha                1.175575
diameter          80.499230
extent            99.997429
albedo            80.661088
rot_per           97.354421
GM                99.998000
BV                99.854142
UB                99.860142
IR                99.999857
spec_B            99.761999
spec_T            99.860000
G                 99.983000
moid               1.175575
class              0.000000
n                  0.000000
per                0.000000
ma                 0.000857
dtype: float64

In [32]:
df2 = df[df['diameter'].notna()]

In [34]:
df3 = df2.loc[:, df2.isin([' ','NULL',0, np.nan]).mean() < .30]

In [35]:
df3.isnull().sum()

a                0
e                0
i                0
om               0
w                0
q                0
ad               0
per_y            0
data_arc       138
n_obs_used       0
H              747
neo              0
pha              0
diameter         0
albedo        1136
moid             0
class            0
n                0
per              0
ma               0
dtype: int64

In [36]:
df3.shape

(136505, 20)

In [19]:
df.hist(figsize=(15,17))

0          8822.0
1         72318.0
2         72684.0
3         24288.0
4         63507.0
           ...
699993        3.0
699994        NaN
699995        3.0
699996        2.0
699997        3.0
Name: data_arc, Length: 699998, dtype: float64

In [28]:
df2['pha']

0           N
1           N
2           N
3           N
4           N
         ...
699993      N
699994    NaN
699995      N
699996      N
699997      N
Name: pha, Length: 699998, dtype: object

In [24]:
df2['moid'].value_counts()

1.018430    19
1.086960    19
1.028750    19
1.145600    18
1.077220    18
            ..
2.104160     1
0.661316     1
0.966606     1
0.929873     1
0.814341     1
Name: moid, Length: 260994, dtype: int64